version: "3.9"

services:
  app:
    build: .
    container_name: gym_app
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: gym_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: gym_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword123
      MYSQL_DATABASE: gymdb
      MYSQL_USER: gym_user
      MYSQL_PASSWORD: gym_password123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
