version: "3.9"

services:
  app:
    build: .
    container_name: gym_app
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: gym_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app

  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: !ChangeMe!
    volumes:
      - database_data:/var/lib/postgresql/data:rw

volumes:
  db_data:
